<ul class="thumbnails">
  <% @images.each do |image| %>
    <li class="span6">
      <div class="thumbnail">
        <p><%= image.created_at.strftime("Created %m/%d/%Y at %I:%M %p") %></p>
        <%= image_tag image.picture %>
      </div>
    </li>
  <% end %>
</ul>
